body {
	background-color:#312e30;
}

@media screen
.topbar {
	height: 46px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
}

.carousel-caption-center {
	text-align: center;
}

.carousel-caption-center h1 {
	font-size:135px;
}

.carousel-caption-center h1,
.carousel-caption-center h2,
.carousel-caption-center h3 {
	font-weight: 800;
}

.signup {
	background: #777e77;
}